In [1]:
def ExampleMultipleReturn():
    return 33,54

In [7]:
a, b = ExampleMultipleReturn()

In [8]:
a

33

In [4]:
b

54

# Recursive Function

In [168]:
def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))

In [167]:
fact(4)

24

In [9]:
lst = ['Apple','orangE','BerrY','Grape']

In [22]:
answer = []
for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    print("Length of {} is {}".format(i,len(i)))
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)
print(answer)

Apple
First letter of Apple is A
Length of Apple is 5
Last letter of Apple is e
First letter of Apple is True
Last letter of Apple is True
orangE
First letter of orangE is o
Length of orangE is 6
Last letter of orangE is E
First letter of orangE is False
Last letter of orangE is False
BerrY
First letter of BerrY is B
Length of BerrY is 5
Last letter of BerrY is Y
First letter of BerrY is True
Last letter of BerrY is False
Grape
First letter of Grape is G
Length of Grape is 5
Last letter of Grape is e
First letter of Grape is True
Last letter of Grape is True
['Apple', 'Grape']

In [30]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]

In [36]:
list(range(0,5,1))

[0, -1, -2, -3, -4]

In [33]:
list(range(6,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [31]:
for i in range(0,len(lst)):
    print(lst[i])

3
43
4
45
456
456
56
57
567
56
756
7
7

In [44]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]

In [45]:
list(range(len(lst)-1,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [40]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

7
7
756
56
567
57
56
456
456
45
4
43
3

In [47]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [51]:
list(range(10,-1,-3))

[10, 7, 4, 1]

In [52]:
lst

[1, 4, 3, 2, 543, 5435, 435, 435, 345, 34523, 423]

In [53]:
lst[0:3]

[1, 4, 3]

In [54]:
lst[3:7]

[2, 543, 5435, 435]

In [66]:
square = lambda  x: x**2

In [67]:
square(3)

9

In [59]:
lst = [1,2,3,4,5]

In [68]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

[1, 4, 9, 16, 25]

In [77]:
squareit = lambda x: x**2

In [70]:
list(map(lambda x: x**2,lst))

[1, 4, 9, 16, 25]

In [ ]:
a =3

In [80]:
list(map(lambda x: x**2,lst))

[1, 4, 9, 16, 25]

In [87]:
def abc(x):
    return x**2

In [88]:
list(map(abc,lst))

[1, 4, 9, 16, 25]

In [89]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [91]:
newList = []
for i in lst:
    if (i%2==0):
       newList.append(i) 
print(newList)

[2, 4, 6, 8, 2, 2]

In [93]:
list(filter(lambda x : x%2==0,lst))

[2, 4, 6, 8, 2, 2]

In [94]:
lst

[3, 2, 4, 5, 6, 7, 8, 2, 1, 2, 3, 3]

In [97]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

1 is there

In [101]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

46

In [98]:
import functools

In [99]:
from functools import reduce

In [102]:
reduce(lambda x,y: x+y,lst)

46

In [115]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]

In [116]:
def greatest(x,y):
    if x>y:
        return x
    else:
        return y

In [117]:
reduce(lambda x,y :x if x>y else y,lst)

3233

In [118]:
reduce(greatest,lst)

3233

In [120]:
n = int(input("Enter the number for factorial: "))

Enter the number for factorial: 4

In [123]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

24

In [125]:
list(range(1,n))

[1, 2, 3]

In [128]:
lst = [1,3,2,4,5]

In [129]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

[1, 9, 4, 16, 25]

# list comprehension

In [131]:
[i**2 for i in lst]

[1, 9, 4, 16, 25]

In [140]:
[i for i in lst if i%2==0]

[2, 4]

In [139]:
["even" if i%2==0 else "odd" for i in lst ]

['odd', 'odd', 'even', 'even', 'odd']

In [141]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [144]:
[i for i in lst1 for j in lst2 if i==j]

[1, 3, 6]

In [145]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

[(1, 5),
 (1, 3),
 (1, 7),
 (1, 6),
 (2, 5),
 (2, 3),
 (2, 7),
 (2, 6),
 (2, 1),
 (3, 5),
 (3, 7),
 (3, 6),
 (3, 1),
 (6, 5),
 (6, 3),
 (6, 7),
 (6, 1),
 (4, 5),
 (4, 3),
 (4, 7),
 (4, 6),
 (4, 1)]

In [150]:
a = int(input("Enter the number "))

Enter the number hi

ValueError: invalid literal for int() with base 10: 'hi'

# Exception

In [153]:
a =10
b =0
a/b
print("I have done division")

ZeroDivisionError: division by zero

In [154]:
try:
    a =10
    b =0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

Divide By Zero
I have done division

In [165]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

Enter the number f
Invalid input:  invalid literal for int() with base 10: 'f'
Please enter a valid number
Inside finally block