# List Comprehension

List Comprehensions provide a concise way of creating lists. Many times a complex task can be modelled in a single line.
Here are some simple examples for transforming a list.

In [20]:
a = range(10)

In [21]:
a

range(0, 10)

In [22]:
type(a)

range

In [12]:
[i for i in range(0,10) if i%2==0]

(0, 2, 4, 6, 8)

In [17]:
{i:[j,k] for i in range(0,10) for j in range(0,10) for k in range(0,10) if i*i+j*j==k*k }

{0: [9, 9],
 1: [0, 1],
 2: [0, 2],
 3: [4, 5],
 4: [3, 5],
 5: [0, 5],
 6: [0, 6],
 7: [0, 7],
 8: [0, 8],
 9: [0, 9]}

In [31]:
[i**2 for i in range(1,10) if i%2 == 0]

[4, 16, 36, 64]

In [59]:
[x for x in a]

In [7]:
[x*x for x in a]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
[x for x in a if x % 2 == 0]

[0, 2, 4, 6, 8]

In [19]:
a = [1, 2, 3, 4 ,9]
b = [2, 3, 5, 7, 12,43,24,22]
list(zip(a, b))

[(1, 2), (2, 3), (3, 5), (4, 7), (9, 12)]

In [24]:
a = [1,2,3]
b = [5,6,7]
for i in zip(a,b):
    print(i)

(1, 5)
(2, 6)
(3, 7)

In [12]:
[(x,y) for x, y in zip(a, b)]

[(1, 2), (2, 3), (3, 5), (4, 7)]

In [37]:
[(a,b,c) for a in range(0,20) for b in range(0,20) for c in range(0,20) if((a**2+b**2)==c**2)]

[(0, 0, 0),
 (0, 1, 1),
 (0, 2, 2),
 (0, 3, 3),
 (0, 4, 4),
 (0, 5, 5),
 (0, 6, 6),
 (0, 7, 7),
 (0, 8, 8),
 (0, 9, 9),
 (0, 10, 10),
 (0, 11, 11),
 (0, 12, 12),
 (0, 13, 13),
 (0, 14, 14),
 (0, 15, 15),
 (0, 16, 16),
 (0, 17, 17),
 (0, 18, 18),
 (0, 19, 19),
 (1, 0, 1),
 (2, 0, 2),
 (3, 0, 3),
 (3, 4, 5),
 (4, 0, 4),
 (4, 3, 5),
 (5, 0, 5),
 (5, 12, 13),
 (6, 0, 6),
 (6, 8, 10),
 (7, 0, 7),
 (8, 0, 8),
 (8, 6, 10),
 (8, 15, 17),
 (9, 0, 9),
 (9, 12, 15),
 (10, 0, 10),
 (11, 0, 11),
 (12, 0, 12),
 (12, 5, 13),
 (12, 9, 15),
 (13, 0, 13),
 (14, 0, 14),
 (15, 0, 15),
 (15, 8, 17),
 (16, 0, 16),
 (17, 0, 17),
 (18, 0, 18),
 (19, 0, 19)]

In [17]:
[(x, y) for x in range(5) for y in range(5) if (x+y)%2 == 0]

[(0, 0),
 (0, 2),
 (0, 4),
 (1, 1),
 (1, 3),
 (2, 0),
 (2, 2),
 (2, 4),
 (3, 1),
 (3, 3),
 (4, 0),
 (4, 2),
 (4, 4)]

In [24]:
for a in range(20):
    for b in range(20):
        for c in range(20):
            if(a*a == b*b + c*c):
                print(list([a,b,c]))

[0, 0, 0]
[1, 0, 1]
[1, 1, 0]
[2, 0, 2]
[2, 2, 0]
[3, 0, 3]
[3, 3, 0]
[4, 0, 4]
[4, 4, 0]
[5, 0, 5]
[5, 3, 4]
[5, 4, 3]
[5, 5, 0]
[6, 0, 6]
[6, 6, 0]
[7, 0, 7]
[7, 7, 0]
[8, 0, 8]
[8, 8, 0]
[9, 0, 9]
[9, 9, 0]
[10, 0, 10]
[10, 6, 8]
[10, 8, 6]
[10, 10, 0]
[11, 0, 11]
[11, 11, 0]
[12, 0, 12]
[12, 12, 0]
[13, 0, 13]
[13, 5, 12]
[13, 12, 5]
[13, 13, 0]
[14, 0, 14]
[14, 14, 0]
[15, 0, 15]
[15, 9, 12]
[15, 12, 9]
[15, 15, 0]
[16, 0, 16]
[16, 16, 0]
[17, 0, 17]
[17, 8, 15]
[17, 15, 8]
[17, 17, 0]
[18, 0, 18]
[18, 18, 0]
[19, 0, 19]
[19, 19, 0]

In [1]:
[(a,b,c) for a in range(5) for b in range(5) for c in range(5) if a*a == b*b + c*c]

[(0, 0, 0),
 (1, 0, 1),
 (1, 1, 0),
 (2, 0, 2),
 (2, 2, 0),
 (3, 0, 3),
 (3, 3, 0),
 (4, 0, 4),
 (4, 4, 0)]

In [45]:
x = [2, 3, 4]
y = [4, 5]
z = {v + w for v in x for w in y}

In [48]:
z

{6, 7, 8, 9}

In [28]:
[*map(lambda x : x*2,[1,2,3,4,5])]

[2, 4, 6, 8, 10]

PEP 448 extends the allowed uses of the * iterable unpacking operator and ** dictionary unpacking operator. It is now possible to use an arbitrary number of unpackings in function calls:
https://docs.python.org/3/whatsnew/3.5.html#whatsnew-pep-448

In [53]:
x = [2, 3, 4]
y = [4, 5]
a = [*map(lambda v : [*map(lambda w : v + w, y)], x)]

In [54]:
a

[[6, 7], [7, 8], [8, 9]]

In [55]:
def fahrenheit(T):
     return ((float(9)/5)*T + 32)
 
def celsius(T):
     return (float(5)/9)*(T-32)
 
temperatures = (36.5, 37, 37.5, 38, 39)
F = map(fahrenheit, temperatures)
C = map(celsius, F)

temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))
temperatures_in_Celsius = list(map(celsius, temperatures_in_Fahrenheit))
print(temperatures_in_Fahrenheit)
print(temperatures_in_Celsius)

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]
[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [57]:
[*map(lambda x : ((float(9)/5)*x + 32), temperatures )]

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]

In [50]:
C = [39.2, 36.5, 37.3, 38, 37.8] 
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)
C = list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]
[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

In [51]:
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]
list(map(lambda x, y : x+y, a, b))
list(map(lambda x, y, z : x+y+z, a, b, c))
list(map(lambda x, y, z : 2.5*x + 2*y - z, a, b, c))

[37.5, 33.0, 24.5, 21.0]

In [65]:
fibonacci = (0,1,1,2,3,5,8,13,21,34,55)
odd_numbers = set(filter(lambda x: x % 2, fibonacci))
print(odd_numbers)
even_numbers = list(filter(lambda x: x % 2 == 0, fibonacci))
print(even_numbers)
 
# or alternatively:
even_numbers = list(filter(lambda x: x % 2 -1, fibonacci))
print(even_numbers)

{1, 3, 5, 13, 21, 55}
[0, 2, 8, 34]
[0, 2, 8, 34]

https://www.python-course.eu/images/reduce.png

In [65]:
import functools
functools.reduce(lambda x,y: x if (x > y) else y, [654,47,11,42,13,12,334,565,23])

654

https://www.python-course.eu/images/reduce_diagram.png

Determining the maximum of a list of numerical values by using reduce:

In [10]:
from functools import reduce
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])

102